
.container {
    display: grid;
    grid-template-columns: repeat(3 auto);
    grid-template-rows: 3;
  }
  header {
    display: grid;
    grid-column: span 3;
    background: #398fc4;
    border-top:5px solid #154e6a ;
    border-bottom: 5px solid #154e6a;
    color: #ececec;
    padding: 0.5rem 25%;
    text-align: center;
   
    /* grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    position: fixed;
    left: 50%;
    margin-left: -570px;
    width: 1140px;  */
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    /* display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header" 
      "content content content content"
      "footer footer footer footer";
    height: 100vh; */
  }
  main {
    display: grid;
    grid-column: span 2;
    background-color: aquamarine;
    border: 2px solid rgba(1, 1, 1, 0.907);
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
  }
  #upcoming-weather{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #previous-search {
  padding-left: 10px;
  }
  
  /* #current-weather {
   
  }
   */
  /* aside {

  } */

p {
  text-align: center
}
/* footer span { 
    font-weight: 700;
  }
  .section {
    background: #2d2d2d;
    color: white;
    text-align: center;
  } */