
body, main, header {
    display:grid;
}
.searchBox {
    display:grid;
    border: 1px outset red;
    background-color: lightblue;
    text-align: center;
    margin-left: 100px;
    margin-right:100px;
    padding-bottom:20px;   
}
main {
    display:grid;
    background-color: grey;
    border: 1px red;
    text-align: left;
    margin-left:100px;
    margin-right:25%;
    margin-top:10px;
}
.history {
    background-color: darkblue;

}
aside {
    display:grid;
    grid-template-columns: 33% 33% 33%;
    background-color: white;
}
.current {
    display:grid;
}